$purple: #639;
$green: #00b37c;
$blue: #01588d;

$gradient: linear-gradient(0deg, $green 0%, $blue 100%);
$reverse-gradient: linear-gradient(270deg, $green 0%, $blue 100%);
$horizontal-gradient: linear-gradient(90deg, $green 0%, $blue 100%);