@import '../abstracts/variables';
@import '../abstracts/utilities';

.heading__filtro {
    label {
        max-width: calc(50% - 3.6rem);
        flex: 1 0 100%;

        &:has(input[name="cliente"]) {
            max-width: 42.93%;
        }

        &:has(input[name="marcacao"]) {
            max-width: 18.06%;

            @include max (1280) {
                max-width: 50%;
            }

            @include max (600) {
                max-width: 100%;
            }
        }

        &:has(input[name="descartados"]) {
            max-width: 14%;

            @include max (1280) {
                max-width: 30%;

                span {
                    width: 100%;

                    &:has(input) {
                        width: fit-content;
                    }
                }
            }

            @include max (600) {
                max-width: 100%;
            }
        }
    }
}

.btn.btn--green {
    margin-left: auto;
    margin-top: auto;
}

main:not(:has(.dt-container)) {
    .baixar-arquivos, hr { display: none; }
}

table thead tr td { min-width: 18.7rem; }